body {
    background-image:
    linear-gradient(to bottom, #2007fc98 0%, transparent), 
    linear-gradient(to top, rgb(145, 111, 219), transparent),
    radial-gradient(circle at right, rgb(185, 25, 233) 00%, rgba(255, 255, 255, 0.2) 40%),
    radial-gradient(circle at left, rgb(240, 146, 255) 10%, rgba(255, 255, 255, 0.2) 40%),
    radial-gradient(circle at center, white 100%, rgba(255, 255, 255, 0.2) 40%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.heading{
    text-align: center;
    font-size: 50px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 100%);
    width: 80%;
    margin: 0 auto;
    border: 6px solid black;
    margin-top: 20px;
    color: white;
}
table {
    text-align: center;
}

thead {
    background-color: darkblue;
    font-size: 50px;
}
tbody {
    background-color: darkblue;
    font-size: 2vh;
}
th, td {
    width: 33.33%;
    height: 90px;
}